.color{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.color-modifiers{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fa{
  cursor: pointer;
}
.color-hex{
  display: none;
  margin-bottom: 10px;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1.2px solid black;
  background: #eee;
  color: black;
}
