.color{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.color-modifiers{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fa{
  cursor: pointer;
}