.Colours-container{
  display: flex;
  text-align: center;
}
.generate-color{
  background: #eee;
  width: 100vw;
  height: 5vh;
  font-weight: bolder;
  font-size: 18px;
  
}

.generate-color:active {
  transform: scale(0.98);
}

.generate-color:focus {
  outline: none;
}

@media (max-width: 500px){
  .Colours-container{
    display: block;
  }
}
.black{
  background: black;
}